<% if @errors %>
<% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
    <%end%>
    <%end%>


<form action="/beers" method="post">
    <input type="text" name="beer[beer_name]" placeholder="Beer Name?" value="<%= @beer.beer_name%>">
    <input type="text" name="beer[malt_type]" placeholder="Malt Used? "value="<%= @beer.malt_type%>">
    <input type="decimal" name="beer[malt_amount]" placeholder="Amount Used in Pounds" value="<%= @beer.malt_amount%>">
    <input type="text" name="beer[hop]" placeholder="Hop Used?" value="<%= @beer.hop%>">
    <input type="decimal" name="beer[hop_amount]" placeholder="Hop Amount in Ounces" value="<%= @beer.hop_amount%>">
    <input type="decimal" name="beer[yeast]" placeholder="Yeast Used?"value="<%= @beer.yeast%>">
    <input type="decimal" name="beer[yeast_amount]" placeholder="Amount in Ounces?" value="<%= @beer.yeast_amount%>">
    <input type="text" name="beer[water_ph]" placeholder="Water pH?" value="<%= @beer.water_ph%>">
    <input type="Submit" value="Submit">
    </form>

   